# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml

# my changes
vms/inventory
vms/terraform/terraform.tfstate
vms/terraform/terraform.tfstate.backup
vms/terraform/.terraform
vms/terraform/.terraform.lock.hcl
